<menu></menu>

<section class="pt-5 pb-3">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-6">

            <!--Newsfeed-->
            <div class="mdb-feed">

                <!--First news-->
                <div class="news">

                    <!--Label-->
                    <div class="label">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg"
                        class="rounded-circle z-depth-1-half">
                    </div>

                    <!--Excert-->
                    <div class="excerpt">

                        <!--Brief-->
                        <div class="brief">
                            <a class="name">John Doe</a> added you as a friend
                            <div class="date">1 hour ago</div>
                        </div>

                        <!--Feed footer-->
                        <div class="feed-footer">
                            <a class="like"><i class="fa fa-heart"></i><span>5 likes</span></a>
                        </div>

                    </div>

                </div>
                <!--First news-->

                <!--Second news-->
                <div class="news">

                    <!--Label-->
                    <div class="label">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg"
                        class="rounded-circle z-depth-1-half">
                    </div>

                    <!--Excert-->
                    <div class="excerpt">

                        <!--Brief-->
                        <div class="brief">
                            <a class="name">Anna Smith</a> added<a> 2 new illustrations</a>
                            <div class="date">4 hours ago</div>
                        </div>

                        <!--Added images-->
                        <div class="added-images">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                            class="z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                            class="z-depth-1">
                        </div>

                        <!--Feed footer-->
                        <div class="feed-footer">
                            <a class="like"><i class="fa fa-heart"></i><span>18 likes</span></a>
                        </div>

                    </div>

                </div>
                <!--Second news-->

                <!--Third news-->
                <div class="news">

                    <!--Label-->
                    <div class="label">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9)-mini.jpg"
                        class="rounded-circle z-depth-1-half">
                    </div>

                    <!--Excert-->
                    <div class="excerpt">

                        <!--Brief-->
                        <div class="brief">
                            <a class="name">Danny Moore</a> added you as a friend
                            <div class="date">7 hours ago</div>
                        </div>

                        <!--Feed footer-->
                        <div class="feed-footer">
                            <a class="like"><i class="fa fa-heart"></i><span>11 likes</span></a>
                        </div>

                    </div>

                </div>
                <!--Third news-->

                <!--Fourth news-->
                <div class="news">

                    <!--Label-->
                    <div class="label">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18)-mini.jpg"
                        class="rounded-circle z-depth-1-half">
                    </div>

                    <!--Excert-->
                    <div class="excerpt">

                        <!--Brief-->
                        <div class="brief">
                            <a class="name">Lili Rose</a> posted on his page
                            <div class="date">2 days ago</div>
                        </div>

                        <!--Added text-->
                        <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                            inventore, iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium
                            ducimus, non placeat voluptate.
                        </div>

                        <!--Feed footer-->
                        <div class="feed-footer">
                            <a class="like"><i class="fa fa-heart"></i><span>7 likes</span></a>
                        </div>

                    </div>

                </div>
                <!--Fourth news-->

                <!--Fifth news-->
                <div class="news">

                    <!--Label-->
                    <div class="label">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20)-mini.jpg"
                        class="rounded-circle z-depth-1-half">
                    </div>

                    <!--Excert-->
                    <div class="excerpt">

                        <!--Brief-->
                        <div class="brief">
                            <a class="name">Kate Harrison</a> added<a> 2 new photos</a> of you
                            <div class="date">3 days ago</div>
                        </div>

                        <!--Added images-->
                        <div class="added-images">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg"
                            class="z-depth-1">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(26).jpg"
                            class="z-depth-1">
                        </div>

                        <!--Feed footer-->
                        <div class="feed-footer">
                            <a class="like"><i class="fa fa-heart"></i><span>53 likes</span></a>
                        </div>

                    </div>

                </div>
                <!--Fifth news-->

            </div>
            <!--Newsfeed-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Social newsfeed v.1-->

