<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#">KAYA</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Procura</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link waves-light" mdbRippleRadius>Admin</a>
            </li>


        </ul>
        <!-- Links -->

        <!-- Search form -->

        <ul class="navbar-nav media-right">
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light"
                   mdbRippleRadius>
                    <i class="fa fa-user"></i> User Data<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">Perfil</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">Sair</a>
                    <!--<a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>-->
                    <!--<div class="divider dropdown-divider"></div>-->
                    <!--<a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>-->
                </div>
            </li>
        </ul>

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
